@import './global.scss';

.button {
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(55,55,55, 0.12);
  opacity: 0.95;
  background-color: $color-blue;
  transition: background-color 200ms linear;
  color: white;

  font-weight: 700;
  font-size: 20px;

  &.yellow {
    background-color: $color-yellow;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: darken($color-yellow, 5%)
    }
  }

  &.large {
    padding: 20px 40px; 
  }

  .material_icons {
    vertical-align: bottom;
  }

  &:hover:after {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:after {
    box-shadow: 0 5px 10px rgba(55,55,55, 0.12);
  }

  &:hover {
    background-color: darken($color-blue, 5%)
  }
}

.hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}