.section_left {
}
.list_of_slides {
}
.list_of_slides_list {
}
.slide_frame {
}
.selected_slides {
}
.selected_slides_list {
}
.selected_slides_numbers {
}
.section_right {
}
.select_presentation {
}
.presentation_list {
}
.presentation_item {
}
.presentation_id {
}
