@import './global.scss';

// Wrapper
.page_wrapper {
}

// Components
.splash {
  position: relative;
  color: rgb(20, 30, 50);
  // padding: 200px;
  padding: $splash-padding;
  height: 100vh;

  .splash_top {
    width: 100%;
    margin: auto;

    .description_left {
      width: 400px;
      float: left;
    }

    .image_right {
      margin-left: 400px;
      background-color: rgba($color: #000000, $alpha: 0.05);
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      text-align: center;
    }

    .slides_logo {
      width: 100px;
    }
  }

  .splash_bottom {
    width: calc(100% - 400px);
    position: absolute;
    bottom: 20px;
  }

  .see_more {
    text-align: center;
  }
}

.howitworks {
  .subtitle {
    padding-bottom: 20px;
  }

  .howitworks_steps li {
    width: 33.333%;
    display: inline-block;
  }
  .howitworks_images {
    width: 100%;
    background-color: red;
  }
  .howitworks_step {
    padding: 0 20px;
  }
}

.features {
  .features_list {
    padding-top: 10px;
    h3 {
      font-size: 20px;
    }
    & > li {
      vertical-align: top;
      width: 33.333%;
      display: inline-block;
    }
  }

  .features_list_subbullets {
    display: block;
    list-style-type: disc;
    padding-left: 40px;
  }

  .feature_list_reason {
    font-size: 10px;
    color: #333;
  }

  .feature_list_icon {
    text-align: center;
    & span {
      font-size: 60px;
    }
  }
}

.architecture {
  .architecture_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.tryit {
  text-align: center;
}

// Home page sections
.section {
  // background: linear-gradient(180deg, rgba(255,186,68,1) 0%, rgba(254,160,3,1) 100%);
  box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.10);

  &:not(.splash) {
    padding: 50px 100px;
  }
  
  h2, h3, h4 {
    text-align: center;
  }

  .subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    // font-size: 16px;
  }

  .splash_tagline {
    font-size: 20px;
    width: 400px;
    padding-bottom: 40px;
  }
}