<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>slides2gif</title>
</head>
<body>
  <h2>Redirecting...</h2>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get('code');
    window.localStorage.setItem('code', code);
    window.location = '/web';
  </script>
</body>
</html>