.button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(55,55,55, 0.12);
  opacity: 0.95;
  background-color: #fff;

  font-weight: 700;
  font-size: 20px;
}

.button:hover {
  opacity: 1;
}
.button:hover:after {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:after {
  box-shadow: 0 5px 10px rgba(55,55,55, 0.12);
}

.button:active {
  background-color: #ddd; 
}

.hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}